@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

nav {
  padding: 2% 15%;
  background-color: #58B3DB;
}

header {
  padding: 2% 15% 4%;
  background-color: #58B3DB;
  color: white;
}

.features {
  padding:9% 0 7%;
  z-index: 1;
  position: relative;
  background-color: white;
}


.prices {
  padding: 3% 15% 7%;
  z-index: 1;
  position: relative;
  background-color: white;
}


.download {
  padding: 5% 15% 7%;
  background-color: #58B3DB;
}

.testimonial {
  background-color: #58B3DB;
  color: white;
  padding: 3% 0;
}

.testimonial-image {
  border-radius: 100%;
  width: 20%;
  margin: 3%;
}

.icon {
  color: #58B3DB;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #3DC4FF;
}
footer{
  padding: 3% 15% 7%;
}

#heading {
  font-family: 'Ubuntu', sans-serif;
}

footer i {
  margin: 1%;
}


.title-image {
  transform: rotate(20deg);
  position: absolute;
  top: 50px;
  z-index: 0;
  width:320px;
}

.grow {
  transition: .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.pointer {
  cursor: pointer;
}


@media (max-width: 1028px) {


  .title-image {
    transform: rotate(0deg) !important;
    position: relative;
    top: 0;
  }


}
